<div fxLayout="column" fxLayoutAlign="space-around center" >    
  <img class="notFoundPicture" src="/assets/Tumbeasts_sign1.png" alt="Not Found" />
  <div class="notFoundCredits">
      By <a href="https://en.wikipedia.org/wiki/Matthew_Inman" class="extiw" title="en:Matthew Inman">Matthew Inman</a>
       - <a rel="nofollow" class="external free" href="http://theoatmeal.com/comics/state_web_summer#tumblr">http://theoatmeal.com/comics/state_web_summer#tumblr</a>
       , <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>
       , <a href="https://commons.wikimedia.org/w/index.php?curid=38250223">Link</a></div>
</div>
