@import "../../../../styles/theme";

.notFoundPicture {
  height: 85vmin;
}

.notFoundCredits {
  color: darkgray;
  font-size: 0.5rem;
  :link {
    color: gray;
  }
  :visited {
    color: gray;
  }
  :hover {
    color: red;
  }
  :active {
    color: gray;
  }
}
