@import '~@angular/material/theming';
$yra-primary: mat-palette($mat-cyan);
$yra-accent:  mat-palette($mat-cyan, A200, A100, A400);
$yra-warn:    mat-palette($mat-red);

$yra-theme:   mat-light-theme($yra-primary, $yra-accent, $yra-warn);

$yra-background: map-get($yra-theme, background);
$yra-foreground: map-get($yra-theme, foreground);

$yra-typography: mat-typography-config();