<yra-nav></yra-nav>

<!-- <mat-toolbar class="toolbar">
  <button class="toolbar__icon-button" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbar__logo-title-group" fxLayout fxLayoutAlign="center center">
    <a routerLink="/" fxLayout>
      <img class="toolbar__logo" src="/assets/logo.png" alt="Your Rents Logo" />
    </a>
    <a class="toolbar__title" routerLink="/">Your Rents</a>
  </div>

  <div fxFlex></div>

  <button
    mat-icon-button
    class="toolbar__icon-button toolbar__help-button"
  >
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
 -->