<mat-card *transloco="let t">
  <mat-card-header>
    <mat-card-title>{{ t('forbidden') }} :-(</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      @switch (translocoService.getActiveLang()) {
        @case('it') {
          Non hai il permesso per accedere a questa pagina.
        }
        @default {
          You don't have permission to access this page.
        }
      }
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="goBack()">{{ t('back') }}</button>
    <a mat-button routerLink="/">{{ t('home') }}</a>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
